@model MailApp.ViewModels.User.UserSuccessRegisterViewModel
@{
    Model.Title = "SuccessRegister";
    Layout = "~/Views/Shared/_Base.cshtml";
}

<h2>SuccessRegister</h2>
<p>Now you can use all our service</p>
